<% photos.each do |photo| %>
  <div class="photo-box">
    <a href="<%=list_path(query:@query,do_search:false,id:photo.id)%>">
      <img class="photo-tumbnail" src="<%=photo.urls[:thumbnail]%>" alt="flickr-photo" data-id="<%=photo.id%>"/>
    </a>
  </div>
<%end%>