<div class="jumbotron text-center">
  <div class="container">
    <%= form_tag(list_path,method:'get',class:'photo-search') do%>
      <h1><i class="fa fa-camera-retro"></i></h1>
      <%= hidden_field_tag :do_search, false%>
      <%= text_field_tag :query,'',class:'query',placeholder:'type here to search' %>
      <button class="btn btn-default btn-lg" style="display:none;" type="submit">
        <i class="fa fa-search"></i>
      </button>
    <%end%>
  </div>  
</div>