// import the CSS framework
@import "bootstrap";
@import "font-awesome";

#footer{
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
}
.brand{
  font-size: 1.5em;
  font-weight: bold;
  color:#000000; 
}

.jumbotron{
  background-color: #ffffff;
}

.jumbotron-thin{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom:0;
}