// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#load-more.btn{
  width:100%;
  height: 100%;
  display: none;
  border-radius: 0;
  i{
    font-size: 40px;
  }
}

#photos{
  overflow: hidden;
  .photo-box{
    width:150px;
    height: 150px;
    float:left;
    position:relative;
    img{
      width:150px;
      height: 150px;
    }
  }

  #selected-photo{
    width:auto;
    height:auto;

    .photo-info{
      color:#000000;  
      div{        
        margin-top: 2px;
        margin-bottom: 2px;
      }
      a, a:hover{
        color:inherit;
        text-decoration: underline;
      }
      .photo-title{
        font-weight:bold;
        font-size: 2em;
      }
    }
  }
}

.query{
  font-weight: bold;
  text-align: center;
  width:100%;
  border:none;
  outline: none;
  border:none !important;
  box-shadow:none !important;
}
.btn{
  font-weight: bold;
}

/* Medium devices (medium) */
@media (min-width: 768px) {
  
  #selected-photo .photo-info{
    position:absolute;
    top:10px;
    left:0;
    font-weight:bold;

    .photo-title{
      font-size: 4em;
      background-color: rgba(255,255,255,0.4);
    }
    .photo-tags{
      font-size: 2em;
      li{
        background-color: rgba(255,255,255,0.4); 
      }
    }
    div{
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}